@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #323232;
}

input::placeholder,
textarea::placeholder {
     font-family: inherit;
     font-weight: inherit;
     font-size: inherit;
     color: #acadad;
 }

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button{
    font-family: inherit;
}
